@import "../core/all";

/* Icon: Variables
/* ========================================================================== */

$icon-s: 16px;
$icon-l: 24px;

/* Icon: Styles
/* ========================================================================== */

%icon {
	display: inline-flex;
	font-size: 0;
	line-height: 0;
}

/* Icon: Styles: Sizes
/* ========================================================================== */

%icon--s {
	size: $icon-s;
}

%icon--l {
	size: $icon-l;
}
